.App {
  text-align: center;
}

* {background-color: #4870A3;}
* {color: rgb(140, 240, 195);}

.NavBar {
  background-color:#708FB7 ;
}

.NavBarTitle {
color: red;
}

.NavBarInfo {
  color: red;
  text-align: right;
}

.LogoutBtn{
  background-color:#C7D3D4FF ;
  color: black;
}

.home-buttons {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}


/* ice flow = C7D3D4FF */
/* #4870A3
#708FB7
#4870A3 
#ADEFD1FF
*/

