.App {
  text-align: center;
  background-color: #4870A3;
}

body {
  background-color: #4870A3;
}


* {color: rgb(140, 240, 195);}

.NavBar {
  background-color:#708FB7 ;
  display: flex ;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.NavBarTitle {
color: red;
position: absolute;
width: 100px;
left: calc(50% - 50px)
}

.NavBarInfo {
  color: red;
  text-align: right;
  
}

.NavBarInfoParent {
  max-width: 100px;
}

.LogoutBtn{
  background-color:#C7D3D4FF ;
  color: black;
  height: 45px;
  width: 100px;
  border-radius: 20px;
}

.homeCreateBtn {
  position: absolute;
  top: 45%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 5px 5px black;
}


.homeJoinBtn {
  position: absolute;
  top: 60%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 5px 5px black;
}

.welcomeTextHost {
  position: absolute;
  top: 40%;
  margin-left: 8px;
  margin-right: 8px;
}

.welcomeTextUser {
  position: absolute;
  margin-left: 8px;
  margin-right: 8px;
  top: 40%
}

.currentQuestion {
  margin-left: 5px;
  margin-right: 5px;
}

.MainBtn {
  position: absolute;
  top: 80%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 5px 5px black;
}

.startBtn {
  position: absolute;
  top: 80%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 5px 5px black;
}

.eachUser {
  min-width: 100px;
}

.allUsers {
  margin: 10px;
  border: 2px solid black;
}

.allUsersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.allusersTitle {

}

.createRoomForm {
  /* display: inline-block;
  vertical-align: middle; */
  margin: auto;
  
}

.createRoomDiv {
  text-align: center;
  display: flex;
  /* vertical-align: middle; */
}

/* ice flow = C7D3D4FF */
/* #4870A3
#708FB7
#4870A3 
#ADEFD1FF
*/
/* 
.homeJoinBtn {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
} */