.App {
  text-align: center;
  background-color: #0B9ED9;
}

body {
  background-color: #0B9ED9;
}
/* background-color: #4870A3; */


* {color: rgb(140, 240, 195);}

.NavBar {
  background-color:#708FB7 ;
  display: flex ;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

/* #708FB7 ; */

.NavBarTitle {
color: red;
position: absolute;
width: 100px;
left: calc(50% - 50px)
}

.NavBarInfo {
  color: red;
  text-align: right;
  
}

.NavBarInfoParent {
  max-width: 100px;
}

.LogoutBtn{
  background-color:#C7D3D4FF ;
  color: black;
  height: 45px;
  width: 100px;
  border-radius: 10px;
}

.homeCreateBtn {
  position: absolute;
  top: 40%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 3px 3px black;
  border-radius: 10px;
}

.homeJoinBtn {
  position: absolute;
  top: 55%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 3px 3px black;
  border-radius: 10px;
}

.welcomeTextHost {
  position: absolute;
  top: 40%;
  margin-left: 8px;
  margin-right: 8px;
}

.welcomeTextUser {
  position: absolute;
  margin-left: 8px;
  margin-right: 8px;
  top: 40%
}

.gameText {

}

.currentUser {
  position: absolute;
  top: 45%;
}
.currentQuestion {
  position: absolute;
  margin-left: 5px;
  margin-right: 5px;
  top: 42%;
}

.MainBtn {
  position: absolute;
  top: 80%;
  width: 250px;
  height: 70px;
  left: calc(50% - 125px);
  box-shadow: 5px 5px black;
  border-radius: 10px;
}

.startBtn {
  position: absolute;
  top: 80%;
  width: 226px;
  height: 60px;
  left: calc(50% - 113px);
  box-shadow: 5px 5px black;
}

.eachUser {
  min-width: 100px;
}

.allUsers {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.allUsersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.allUsersTitle {
  border: 2px solid black;
  /* border-top: 4px solid #4870A3; */
  color: red;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-radius: 0px 0px 5px 5px;
}

.createRoomForm {
  /* display: inline-block;
  vertical-align: middle; */
  margin: auto;
  
}

.createRoomDiv {
  text-align: center;
  display: flex;
  /* vertical-align: middle; */
}

.userTrue {
  color: black
}

.userFalse {
  color: red
}

/* ice flow = C7D3D4FF */
/* #4870A3
#708FB7
#4870A3 
#ADEFD1FF
*/
/* 
.homeJoinBtn {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
} */